* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

.header-div {
    display: flex;
    flex-direction: row;
    background-color: #00008B !important;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px 5px 30px;
    margin-bottom: 50px;
    z-index: 2;
}

/* .header-logo {
    transform: scale(0.8);
} */

.header-text {
    text-decoration: none;
    user-select: none;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: #00008B !important;
}

.shortcuts-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: right;
    margin-right: -15px;
    gap: 60px;
    background-color: #00008B !important;
}

.shortcuts-div>a {
    font-size: 20px;
    background-color: #00008B !important;
}

.products-shortcut {
    text-decoration: none;
    color: white;
    justify-content: right;
}

.main-h1 {
    justify-self: center;
    margin: 60px;
}

.products-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 10px 20px 0px 20px;
}

.product-div {
    color: black;
    background-color: white;
    min-height: 100px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    border: 2px solid red;
    box-shadow: 0px 0px 15px 0.1px #00000051;
}

.product-div>a {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-div>h3 {
    text-align: center;
    margin-bottom: 25px;
}

.product-about {
    max-width: 400px;
}

.buyButton {
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: none;
    height: 40px;
    width: 65%;
    border-radius: 10px;
    font-size: medium;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.about-and-button {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.buyButton:hover {
    background-color: rgb(199, 199, 199);
}

.new-product-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 0;
}

.new-product-form>textarea {
    width: 100%;
    padding: 4px 5px;
    font-size: 15px;
}

.new-product-form>input {
    font-size: 20px;
    width: 400px;
    height: 50px;
    padding: 2px 5px;
}

/* .new-product-form>select {
    width: 400px;
    height: 50px;
    padding: 2px 5px;
    font-size: 20px;
    border: 2px solid #191970;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.new-product-form>label{
    font-size: 15px;
} */

.option-div {
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 5px;
}

.new-product-form>button,
div>button {
    width: 400px;
    height: 50px;
    padding: 2px 5px;
    font-size: 20px;
    border: 2px solid #191970;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.new-product-form>div .button-active {
    color: white !important;
    background-color: blue !important;
    transition: all 50ms linear;
}

.new-product-form>input,
textarea {
    outline: none;
    border: 2px solid #191970;
    border-radius: 10px;
}

.cart-items-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.cart-item {
    display: flex;
    background-color: bisque;
    height: 70px;
    width: 600px;
    border-radius: 10px;
}

.cart-item-p {
    margin: auto auto auto 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.cart-item-counter {
    margin: auto 25px auto auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.admin-dashboard-header {
    justify-self: center;
    margin-bottom: 50px;
}

.button-active {
    background-color: blue !important;
    color: white !important;
    transition: all 50ms linear;
}

.display-flex {
    display: flex;
}

.wrapper-navbar {
    width: 185px;
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    background-color: #00008B;
    z-index: 10;
    padding-left: 15px;
    transition: right 225ms ease;
    border-radius: 15px;
    box-shadow: 3px 0px 20px 4px #000000a9;
}

.show-wrapper {
    right: -10px !important;
}

.wrapper-navbar>a {
    text-decoration: none;
    color: white;
}

.wrapper-navbar-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
    font-size: 20px;
    gap: 20px;
}

#open-navbar {
    background: none;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    display: none;
}

#close-navbar {
    background: none;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 35px;
}

.close-navbar-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 175px;
}

.close-overlay {
    display: none;
    position: fixed;
    height: 100vh;
    inset: 0;
    background-color: transparent;
    z-index: 9;
    transition: background-color 225ms ease;
}

.product-name-image {
    display: flex;
    flex-direction: column;
    border: 2px solid red;

}

.product-name-image> h1 {
    text-align: center;
    width: 400px;
    margin-top: 10px;
}
.product-name-image> img {
    width: 400px;
    height: 400px;
}

.product-about-info {
    border: 2px solid red;
}

.product-about-info-tags {
    display: flex;
    justify-content: center;
}




















@media screen and (max-width: 1024px) {
    .products-div {
        grid-template-columns: 1fr 1fr;
    }

    .header-text {
        font-size: 40px;
    }

    .shortcuts-div {
        gap: 30px;
    }

    .shortcuts-div>a {
        font-size: 18px;
    }
}

@media screen and (max-width: 876px) {
    .header-text {
        font-size: 30px;
    }

    .shortcuts-div {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .shortcuts-div {
        gap: 10px;
    }

    .shortcuts-div>a {
        font-size: 16px;
    }
}

@media screen and (max-width: 690px) {
    .products-div {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 655px) {
    .shortcuts-div {
        display: none;
    }

    .wrapper-navbar {
        display: flex;
    }

    .close-overlay {
        display: block;
    }

    #open-navbar {
        display: block;
    }
}